<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<body>
     <main>
         <% if (errorMessage) { %>
             <div class="user-message user-message--error"><%= errorMessage %></div>
         <% } %>
         <form style="min-height: 45vh" class="login-form" action="/reset" method="POST">
             <div class="form-control">
                 <label for="email">E-Mail</label>
                 <input type="email" name="email" id="email">
             </div>
             
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <div class="centered">
                 <button class="btn" type="submit">Reset Password</button>
             </div>
             </form>
 
     </main>

<%- include('../includes/footer.ejs')%>

