<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>

<body>

<div class="cart__checkout">
    <h4 class="cart__items-list-header">Order Summary</h4>
    <div class="cart__items-address">
        <ul>
            <% address.forEach(line => { %>
                <p><%= line %></p>
            <% }) %>
        </ul>
    </div>
    <div class="cart__items-list">
        <h4 class="cart__items-list-header">Items</h4>
        <ul>
            <% items.forEach(item => { %>
                <li>
                    <h4><%= item.tier %></h4>
                    <p><%= item.qty %></p>
                    <p>£<%= item.price.toFixed(2) %></p>
                    <input type="hidden" value="<%= item.id %>">
                </li>
            <% }) %>
        </ul>
        <div class="cart__items-list-total">
            <p>Total: £<%= total %></p>
        </div>
        <div class="cart__items-checkout">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" id="csrf">
            <button id="order-btn" class="checkout-btn" type="button">Pay Now<svg fill="#007900" viewBox="0 0 24 24" width="24px" height="24px"><path d="M 12 2 C 6.4889971 2 2 6.4889971 2 12 C 2 17.511003 6.4889971 22 12 22 C 17.511003 22 22 17.511003 22 12 C 22 6.4889971 17.511003 2 12 2 z M 12 4 C 16.430123 4 20 7.5698774 20 12 C 20 16.430123 16.430123 20 12 20 C 7.5698774 20 4 16.430123 4 12 C 4 7.5698774 7.5698774 4 12 4 z M 16.292969 8.2929688 L 10 14.585938 L 7.7070312 12.292969 L 6.2929688 13.707031 L 10 17.414062 L 17.707031 9.7070312 L 16.292969 8.2929688 z"/></svg>
            </button>
                <script src="https://js.stripe.com/v2/"></script>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    document.cookie = "SameSite=None;"; /* tagname = test;secure */
                    var stripe = Stripe('pk_live_3v1T4kN1zWZSd6ufa9HfmOxu00KiVUUe43');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
        </div>
    </div>
</div>
    

<%- include('../includes/footer.ejs') %>